<section id="{{ page.fileSlug }}Section" class="container prose lg:prose-xl m-auto">
  <article class="flex flex-col items-center justify-center">
    {% include 'logo/logo.njk' %}
    <hr>
    {% include 'social/social.njk' %}
  </article>
</section>