<div class="social-icons">
{%- for social, link in social.social %}
  {%- if link %}
    <a href="{{ link }}" class="mdi mdi-{{ social }}" aria-label="{{ social }}" target="_blank"></a>
  {%- endif %}
{%- endfor %}

<a href="mailto:cleger@oasiscleaningco.com" class="mdi mdi-email" aria-label="email"></a>
<a href="tel:4092340705" class="mdi mdi-phone" aria-label="phone number"></a>

</div>